<div id="Nosotros" class="container">
  <div class="row row justify-content-center align-items-center">
    <div class="col-md-5 ">
      <div class="container bg-rect">
        <div class="container bg-rect2">
          <img class="panda-img" src="../../../assets/mascoti-06.png" alt="">
        </div>

      </div>

    </div>
    <div class="col-md-5 text-pad">
      <h1 class="about-head text-center">Qué hacemos?</h1>
      <p class="about-text">Recopilamos datos generales usando un cuestionario, de inicio y si el caso lo requiere realizamos nuestra propia investigación,
        para comprender completamente a su visión industrial de manera demográfica. Manejamos todos los métodos de Marketing
        Digital, correos electrónicos masivos, creación y diseño de logos, creación de publicidad, desarrollamos páginas
        y aplicaciones web, o cualquier idea que usted tenga en mente, no tenemos límites en el mundo digital.</p>
    </div>
  </div>

</div>