<div id="Equipo" class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="team-head">Equipo</h1>
      <p class="team-text">PC Developers está conformando por un equipo de diseñadores y desarrolladores digitales, que uniendo sus conocimientos
        y habilidades son capaces de crear en el mundo digital cualquier idea que se presente.</p>
    </div>
  </div>
</div>


<div class="team-clean">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <img class="img-circle" src="assets/1.png">
        <h3 class="name">
          <span class="nameBlack">Juan </span>Morocho
        </h3>
        <p class="title">DESARROLLADOR WEB </p>
        <p class="description">Juan ve el internet píxel por píxel. Como desarrollador web de PC Developers, el le da vida a nuestros sitios web
          luego de unas pocas lineas de código.</p>
        <div class="social">
          <a href="https://www.facebook.com/P3skyNinja">
            <i class="fa fa-facebook-official"></i>
          </a>
          <a href="https://twitter.com/Anti_Clutch">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/juan.morocho23/">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <img class="img-circle" src="assets/2.png">
        <h3 class="name">
          <span class="nameBlack">Cristopher </span>Álvarez
        </h3>
        <p class="title">Director Creativo</p>
        <p class="description"> Como director creativo, Christopher aporta con una gran dedicación al diseño de PC Developers. Es un 
          apasionado por dar vida a los sueños de los clientes y defiende el éxito de cada proyecto con 
          gran energía.</p>
        <div class="social">
          <a href="https://www.facebook.com/CristopherFiat">
            <i class="fa fa-facebook-official"></i>
          </a>
          <a href="https://twitter.com/CristophDesign">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.behance.net/Cxristop">
            <i class="fa fa-behance"></i>
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <img class="img-circle" src="assets/3.png">
        <h3 class="name">
          <span class="nameBlack">David </span>Pazmiño
        </h3>
        <p class="title">Desarrollador</p>
        <p class="description">David es conocido por "soñar en código", ya que siempre sueña en todas las cosas de programación, 
          David juega una parte integral de la máquina creativa PC Developers.</p>
        <div class="social">
          <a href="https://www.facebook.com/David.Pazmino.Fides.et.Ratio">
            <i class="fa fa-facebook-official"></i>
          </a>
          <a href="https://twitter.com/DavidPazminoC">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>