<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.facebook.com/pc.developers.cuenca/">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/pc.developers/">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://twitter.com/pc_developers">
        <i class="fa fa-twitter"></i>
      </a>

    </div>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Inicio</a>
      </li>
      <li class="list-inline-item">
        <a href="#Nosotros">Nosotros</a>
      </li>
      <li class="list-inline-item">
        <a href="#Servicios">Servicios</a>
      </li>
      <li class="list-inline-item">
        <a href="#Equipo">Equipo</a>
      </li>
      <li class="list-inline-item">
        <a href="#Contactanos">Contactanos</a>
      </li>
    </ul>
    <p class="copyright">PC Developers © 2017</p>
  </footer>
</div>