<div id="mySidenav" class="sidenav sn-bg">
  <div class="sidenav-bg mask-strong">
    <div class="row side-nav">
      <div class="col-sm-12">
        <div class="logo-wrapper">
          <a href="#">
            <img class="flicker-3" src="../../../assets/logopag-01.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="row side-nav">
      <div class="col-sm-12">
        <div class="social">
          <a href="https://www.facebook.com/pc.developers.cuenca/">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/pc_developers">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/pc.developers/">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row side-nav">
      <div class="col-sm-12 ">
        <ul class="menu-list">
          <li>
            <a class="slide-in-blurred-left" href="#">
              <i class="fa fa-home menu-icon"></i> Inicio
              <i class="fa fa-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li>
            <a href="#Nosotros">
              <i class="fa fa-eye menu-icon"></i> Nosotros
              <i class="fa fa-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li>
            <a href="#Servicios">
              <i class="fa fa-list menu-icon"></i> Servicios
              <i class="fa fa-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li>
            <a href="#Equipo">
              <i class="fa fa-users menu-icon"></i> Equipo
              <i class="fa fa-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li>
            <a href="#Contactanos">
              <i class="fa fa-envelope menu-icon"></i> Contactanos
              <i class="fa fa-chevron-right menu-arrow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-close">
        <a href="#" class="closebtn" (click)="closeNav()">&times;</a>
    </div>
  </div>
</div>

<div id="main">
    <router-outlet></router-outlet>
</div>