.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ff9933;  /*Black*/
   
    overflow-x: hidden; /* Disable horizontal scroll */
   /* padding-top: 60px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    background-color: #fff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sn-bg{
    /* background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.sidenav-bg {
    background: #fff;
    /*background: linear-gradient(135deg, #03acef, #3d81fb);*/
    overflow: hidden;
    height: 100%;
    z-index: 2;   
}

.side-nav{
    list-style-type:none;
    padding-left: 0px;
}

.side-nav .logo-wrapper {
    height: 175px;
    text-align: center;
}

.sidenav .logo-wrapper a{
    padding: 0px;
    text-align: center;
}

.sidenav .social a{
    padding: 0px;
    text-align: center;
}

@media (max-height: 992px){
    .side-nav .logo-wrapper, .side-nav .logo-wrapper a img{
        height: 75px;
        text-align: center;
        margin-top: 14px;
    }
}

.side-nav .social {
    text-align:center;
    padding-bottom:10px;
    padding-top:30px;
    border-bottom: 1px solid rgba(153,153,153,.3);
  }
  
  .side-nav .social > a {
    font-size:20px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:#3d81fb;
    opacity:1;
  }
  
  .side-nav .social > a:hover {
    opacity:0.9;
    color: #f7bb13;
    
  }

  .menu-list{
    list-style-type:none;
    padding-left: 20px;
  }

  .sidenav .menu-list a{
    padding: 0px;
    text-align: left;
    color: #3d81fb;
    font-weight: 300;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
}

.side-nav .menu-list > li > a:hover {
    opacity:1;
    color: #f7bb13;  
    text-decoration: none;
  }
.sidenav .menu-list .menu-icon{
    padding-right: 12px;
}

.sidenav .menu-list .menu-arrow{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 12px;
}

.bottom-close{
    position: absolute; 
    bottom: 0px;
    width: 100%;
    padding: 0px !important;
    text-align: center;
}

.bottom-close a{
    text-decoration: none;
    font-size: 55px;
    color:#3d81fb;
    display: block;
    transition: 0.3s;
}

.bottom-close > a:hover {
    opacity:1;
    color:#f7bb13;
    
  }



  /*Animations*/

  .flicker-3 {
	-webkit-animation: flicker-3 2.5s linear infinite both;
	        animation: flicker-3 2.5s linear infinite both;
}



/* ----------------------------------------------
 * Generated by Animista on 2018-4-8 16:42:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-3
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }
  @keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }
  
