<div class="jumbotron">
  <div class="jumbo-mask">
    <div class="jumbo-pad">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-3">
          <div class="close-btn" (click)="openNav()">&#9776;</div>
        </div>
        <div class="col-md-8 col-sm-5 col-9 slide-in-blurred-left">
          <a href="#">
            <img class="long-logo" src="../../../assets/logo2.png" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 d-none d-sm-block slide-in-blurred-left">
          <a href="#Contactanos">
            <button class="btn btn-light talk-btn">Hablemos de su proyecto</button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-7 order-2 order-sm-1">
          <div class="container jumbo-text ">
            <div class="flicker-in-1">
              <h1>
                Hola, somos una
                <span class="text-under">empresa de desarrollo digital en Cuenca.</span>
                Nuestra meta es innovar con métodos de desarrollo de software.
              </h1>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 order-1 order-sm-2">
          <img class="iphone" src="../../../assets/IphoneWhite.gif" alt="">
        </div>
      </div>

      <div class="row slide-in-blurred-right">
        <div class="col-md-11 col-10">
          <p class="jumbo-small-text ">Somos un equipo de especialistas en
            <span class="small-text-bg">diseño y desarrollo</span>
          </p>
        </div>
        <div class="col-md-1 col-2">
          <a href="#Nosotros">
            <i class="fa fa-arrow-down fa-2x jumbo-arrow shake-vertical"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>