<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 small-col">
      <hr class="gray-line" />
    </div>
    <div class="col-md-6">
      <p>
        <strong class="tech-text">
          <span class="nip">Nuestros servicios son impulsado por</span> <span class="it">INCREÍBLES TECNOLOGÍAS</span>
        </strong>
      </p>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-2 col-sm-2">
        <img class="wow tech-imgs roll-in-left" src="../../../assets/angular.png" alt="">
    </div>
    <div class="col-md-2 col-sm-2">
        <img class="wow tech-imgs roll-in-left"  src="../../../assets/ionic.png" alt="">
    </div>
    <div class="col-md-2 col-sm-2">
        <img class="wow tech-imgs roll-in-left" src="../../../assets/bootstrap.png" alt="">
    </div>
    <div class="col-md-2 col-sm-2">
        <img class="wow tech-imgs roll-in-left" src="../../../assets/firebase.png" alt="">
    </div>
    <div class="col-md-2 col-sm-2">
        <img class="wow tech-imgs roll-in-left" src="../../../assets/js.png" alt="">
    </div>
    <div class="col-md-2 col-sm-2">
        <img class="wow tech-imgs roll-in-left" src="../../../assets/html5.png" alt="">
    </div>
  </div>

 <!-- <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="add-text">Además, creamos software usando: ES6, Redux, Redis, Express, Typescript, 
        Microservices, ArangoDB, RabbitMQ, Selenium, Chai.js, Cucumber, Ansible, Consul, Gitlab, 
        Gitlab CI, Flow Type.</p>
    </div>
  </div> -->
</div>
<br/>

