<div id="Servicios" class="cont-mask">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="serv-head">
          Nuestros Servicios
        </h1>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center">
        <p class="serv-text">
          Su éxito es nuestro éxito. Convierta con nosotros sus ideas y experiencias en un producto digital. ¿Necesitas desarrollar
          tu logo? ¿Una página web? o quizas ¿Tu propia aplicación móvil? Tenemos todo ésto y más !
        </p>
      </div>
    </div>

    <div class="row row-pad align-items-center">
      <div class="col-md-5 wobble-hor-bottom2">
        <div class="container bg-rect3">
          <div class="container bg-rect">
            <img class="serv-img" src="../../../assets/iconos27-03.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <h2 class="serv-list-head">
          Diseño Gráfico
        </h2>
        <ul class="serv-list">
          <li>Diseño e imagen corpotariva</li>
          <li>Estudio y diseño de marca ( Logo )</li>
          <li>Diseño de targetas de presentación</li>
          <li>Publicidad</li>
        </ul>
      </div>
    </div>

    <div class="row row-pad align-items-center">
      <div class="col-md-6 order-2 order-lg-1 text-center">
        <h2 class="serv-list-head">
          Diseño de APP’s
        </h2>
        <ul class="serv-list">
          <li>Aplicaciones Híbridias</li>
          <li>Aplicaciones en IOS</li>
          <li>Aplicaciones en Android</li>
        </ul>
      </div>
      <div class="col-md-6 order-1 order-lg-2 wobble-hor-bottom ">
        <div class="container bg-rect4 ">
          <div class="container bg-rect2">
            <img class="serv-img" src="../../../assets/iconos27-05.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="row row-pad align-items-center">
      <div class="col-md-5  wobble-hor-bottom2">
        <div class="container bg-rect3">
          <div class="container bg-rect">
            <img class="serv-img" src="../../../assets/iconos27-06.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <h2 class="serv-list-head">
          Diseño Web
        </h2>
        <ul class="serv-list">
          <li>Páginas Web</li>
          <li>Aplicaciones Web</li>
          <li>Tiendas on-line</li>
        </ul>
      </div>

    </div>

    <div class="row row-pad align-items-center">
      <div class="col-md-6 order-2 order-lg-1 text-center">
        <h2 class="serv-list-head">
          Servicio Empresarial
        </h2>
        <ul class="serv-list">
          <li>Sesión Fotográfica</li>
          <li>Consultoría Empresarial</li>
          <li>Publicidad para sus Redes Sociales</li>
          <li>Servicio de mailing</li>
        </ul>
      </div>
      <div class="col-md-6 order-1 order-lg-2 wobble-hor-bottom">
        <div class="container bg-rect4">
          <div class="container bg-rect2">
            <img class="serv-img" src="../../../assets/iconos27-04.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>