.cont-mask {
    background-image: url("../../../assets/BAMBU12-12.png");
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    z-index: 2;   
    padding-bottom: 5rem;
  }
.serv-head{
    color: #3D81FB;
    font-weight: bold;
    font-size: 3.5rem;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    line-height: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.serv-list-head{
    color: #3D81FB;
    font-weight: bold;
    font-size: 3.5rem;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    line-height: 4rem;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.serv-text{
    color: #999999;
    /* opacity: 0.8; */
    line-height: 1.75rem;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-bottom: 3rem;
}


.serv-list{
    list-style: none;
    padding-left: 0px;
    color: #999999;
    /* opacity: 0.8; */
    line-height: 1.75rem;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.row-pad{
    padding-bottom: 3rem;
}

.serv-img{
    width: 100%;
}

.bg-rect{
    background-color: #fff;
    transform: rotate(15deg);
    border-radius: 2.5rem;
    padding: 4rem;
    box-shadow: 0px 0px 1px 1px rgb(153, 153, 153,0.2);
    z-index: 1;
}


.bg-rect2{
    background-color: #fff;
    transform: rotate(-15deg);
    border-radius: 2.5rem;
    padding: 4rem;
    box-shadow: 0px 0px 1px 1px rgb(153, 153, 153,0.2);
    z-index: 1;
}

.bg-rect3{
    background: linear-gradient(135deg, #f7bb13,#fb8c0a);
    border-radius: 3.5rem;
    width: 20rem;
    transform: rotate(-15deg);
    z-index: -1;
}

.bg-rect4{
    background: linear-gradient(135deg, #03acef, #3d81fb);
    border-radius: 3.5rem;
    width: 20rem;
    transform: rotate(15deg);
    z-index: -1;
}

@media (max-width:767px) {
    .bg-rect {
      margin-bottom:2rem;
    }
  }

  @media (max-width:767px) {
    .bg-rect4 {
      margin-top:2rem;
      margin-bottom:2rem;
      
    }
  }

  @media (max-width:576px) {
    .bg-rect3 {
        width: 15rem;
    }
  }

  @media (max-width:576px) {
    .bg-rect4 {
        width: 15rem;
    }
  }


.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 10s infinite both;
	        animation: wobble-hor-bottom 10s infinite both;
}

.wobble-hor-bottom2 {
	-webkit-animation: wobble-hor-bottom 10s infinite reverse both;
	        animation: wobble-hor-bottom 10s infinite reverse both;
}


/* ----------------------------------------------
 * Generated by Animista on 2018-7-3 12:33:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  